* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}

:root {
    --Color__primario:  #daa520;
    --Color__secundario: #000;
    --Color__terciario: #fff;
    --Color__secundario__transparente: #0009;
    --Color__life: #fff;
    --Color__damage: #f00;
    --Color__background: #676767;
}

body {
    overflow-x: hidden;
}

/* Ancho del scroll */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Estilo del fondo del scroll */
  ::-webkit-scrollbar-track {
    background-color: var(--Color__primario);
  }
  
  /* Estilo del "pulgar" del scroll (la parte que puedes arrastrar) */
  ::-webkit-scrollbar-thumb {
    background-color: var(--Color__secundario);
    border-radius: 6px;
  }
  
  .content__container {
    width: 100vw;
    min-height: 100vh;
  }